*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background-color: #212121;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container{
    width: 50vw;
    height: 100vh;
    background-color: rgb(41, 80, 106);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}